
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tetris {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  border-radius: 6px;
  overflow: hidden;
}

.box {
  width: 16px;
  height: 16px;
  border: solid 1px #fff;
  border-radius: 2px;
}

.block {
  border: solid 1px #ccc;
}

.block.red {
  background: linear-gradient(-90deg, #c3435d 0%, #ff6464 100%);
  border: solid 1px #ed7f7f;
}

.block.blue {
  background: linear-gradient(-90deg, #4360c3 0%, #649dff 100%);
  border: solid 1px #91a9ff;
}

.block.green {
  background: linear-gradient(-90deg, #43c35c 0%, #64ff7e 100%);
  border: solid 1px #7ae98f;
}

.block.yellow {
  background: linear-gradient(-90deg, #bec343 0%, #fffa64 100%);
  border: solid 1px #e0e779;
}

.space {
  border: solid 1px #c0c0c0;
  background: #649dff;
  opacity: 0.2;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
  font-size: 22px;
}